{% extends "layout.html" %}

{% block content %}
<h2>Create Speech</h2>

{% if success %}
<p> <b> You asked me to say:  </b>"{{speech_prompt}}"  </p>
<p> <b> How does this sound?:  </b> </p>
<source src="{{ speech_prompt }}" type="audio/mp3">
{% else %}  
{% for prompt in form.prompt.errors %}
<div class="flash">{{ prompt }}</div>
{% endfor %}

<form action="{{ url_for('create_speech') }}" method=post>
<!-- 
This form has no CSRF protection.  To add, see:
https://flask-wtf.readthedocs.io/en/0.15.x/csrf/
--> 

{{ form.prompt.label }}
{{ form.prompt }}

{{ form.submit }}
<p> playing...   </p>
</form>
{% endif %}

{% endblock %}